extend ./components/head

block content
  .t-opening
    .t-opening--nav
      p logo aqui
    nav.t-opening--nav
      a Portifólio
      a Contato
      a Sobre
  .t-sol
    img(src="/images/sol.svg")