extends layout

block content
  .t-construction
    figure.t-construction_image
      img(src='https://media.giphy.com/media/xT9IgnS1z4sA5e5N0A/giphy.gif')
    p.t-construction_title site under construction