$sans = 14px "Lucida Grande", Helvetica, Arial, sans-serif

// colors
$darkBlue = #171454
$darkPink = #3d1344
$pink = #ee3ffe
$blue = #00fff2
$gradient = linear-gradient(-90deg, $darkPink, $darkBlue);